.dropdownContent {
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 8px 0;
  width: 200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdownItem {
  padding: 10px 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.separator {
  padding: 0px 8px;
  font-size: 12px;
  color: gray;
  cursor: default;
}

.separator:focus {
  outline: none;
}

.dropdownItem:hover {
  background-color: #f3f3f3;
}
