.main {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  height: 90vh;
}

.body {
  display: grid;
  place-items: center;
}

.loading_info {
  width: 165px;
  font-size: 12px;
  color: #ffffff30;
  text-align: start;
}
