.animOff {
  opacity: 0.5;
}

.animOn {
  opacity: 1;
  transition: opacity 0.8s ease;
}

.grid_container {
  display: grid; /* Отображать как контейнер */
  grid-template-columns: repeat(7, 1fr); /* 7 колонок */
  gap: 0.1rem; /* Отступы между элементами */
  width: 100%; /* Контейнер занимает всю доступную ширину */
  max-width: 900px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Центрирование контейнера */
}

.grid_item {
  background: transparent;
  aspect-ratio: 1/1;
  align-content: center;
  text-align: center;
  max-width: 100%; /* Ограничение по ширине */
  max-height: 100%; /* Ограничение по высоте */
  border: none;
  text-align: center;
  border-radius: 12px;
  color: white;
  font-size: 32px;
}

.grid_item:focus-visible {
  outline: none;
}

.editable_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10vw;
  width: 100%; /* Контейнер занимает всю доступную ширину */
  max-width: 900px; /* Максимальная ширина контейнера */
  margin: 4px auto; /* Центрирование контейнера */
}

.editable_button {
  text-align: center;
  border-radius: 12px;
  color: black;
  font-size: 28px;
  height: 48px;
  cursor: pointer;
}

.job_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  width: 100%; /* Контейнер занимает всю доступную ширину */
  max-width: 900px; /* Максимальная ширина контейнера */
  margin: 4px auto; /* Центрирование контейнера */
}

.job_item {
  text-align: center;
  border-radius: 12px;
  color: white;
  font-size: 28px;
}

.grid_week_days {
  text-align: center;
  border-radius: 6px;
  background: white;
  font-size: 20px;
  margin-bottom: 0.1rem;
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 100%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: '';
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 2s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
