.grid_container {
  display: grid; /* Отображать как контейнер */
  grid-template-columns: repeat(7, 1fr); /* 7 колонок */
  gap: 0.1rem; /* Отступы между элементами */
  padding: 0px;
}

.grid_item {
  background: transparent;
  padding: 0.39rem;
  text-align: center;
  border-radius: 12px;
  color: white;
  font-size: 36px;
}

.job_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.1rem;
  margin: 4px 0px;
}

.job_item {
  text-align: center;
  border-radius: 12px;
  color: white;
  font-size: 36px;
}
