.container {
  display: flex;
  position: relative;
  height: 100vh;
}

/* Стили для основного контента */
.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header с кнопкой для вызова меню */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: 52px;
  border-bottom: 1px solid #ddd;
}

/* Кнопка вызова меню - скрыта на десктопе */
.menuButton {
  background-color: #0070f3;
  color: #fff;
  border: none;
  height: 90%;
  font-size: 16px;
  padding: 0px 4vw;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
}

/* Основной блок для контента */
.content {
  padding: 0.1rem;
  overflow-y: auto;
  flex: 1;
}
